.app.light {
  --bg-color: #cbc6c3;
  --inverted-bg-color: #101e5a;

  --primary-color: #101e5a;
  --secondary-color: #cbc6c3;

  --inverted-primary-color: #f7f8f9;
  --inverted-secondary-color: #acbdd3;
}
